In [26]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

# Summary, Cross and Pivot

In [30]:
customer= pd.read_csv('/kaggle/input/customer-personality-analysis/marketing_campaign.csv', sep ='\t')

In [31]:
customer.head()

In [33]:
customer.shape

In [34]:
#summary of a column in dataframe
customer['Income'].describe()

In [36]:
#finding mean of a column
round(customer['Income'].mean(),2)

In [40]:
#finding unique values in a column
customer['Education'].unique()

In [41]:
#finding no. of occurence of each unique values in a column
customer['Education'].value_counts()

In [42]:
#check if any null value
customer.isnull().sum()

In [43]:
#fill average value in null values in Income column
customer.fillna(method='backfill',inplace= True)

In [44]:
#check if any null value
customer.isnull().sum()

In [45]:
#finding summary of columns with specific data types
customer.describe(include= ['int'])

In [46]:
#finding summary of columns with specific data types
customer.describe(include= ['object'])
#top row here shown is of sorted dataframe
#freq here is count having value equal to 1st row or top row values

In [47]:
#finding summary of whole dataset
customer.describe()
#by default describe gives summary of columns with data types as int and float

In [48]:
#summary by including all
customer.describe(include= 'all')

# Crosstab

In [50]:
#crosstab is used to when we want to check the relationship between two or more attributes
pd.crosstab(customer['Education'],customer['Income'])

In [53]:
#transpose crosstab
pd.crosstab(customer['Education'],customer['Marital_Status']).T

In [54]:
#cross tab to get percentage
pd.crosstab(customer['Education'],customer['Marital_Status']).apply(lambda r: (r/len(customer))*100, axis=1)

# Pivot Table

In [55]:
pd.pivot_table(customer, index=['Education','Marital_Status'], values="Income", aggfunc="mean")

Difference bewteen Pivot and Crosstab
1. Pivot accepts data in dataframe format only which is not the case with Crosstab.
2. Crosstab source code contains the instruction to convert data into dataframe and then call Pivot Table function for futher execution.
3. Or we should use Pivot Table if data is in dataframe format