Variables in Python

In [4]:
#unpack a list
#can also be applied to other data types such as tuple.

sports= ('basketball', 'badmintion', 'cricket')
s1, s2, s3= sports

print(s1,s2,s3)

basketball badmintion cricket

In [5]:
#assiging one value to multiple variables
rose= blood= jacket= 'red'
print(rose, blood, jacket)

red red red

In [7]:
#making a variable global declared inside a function
def learn():
  global x
  x= "I am learing Data Science"

learn()
print(x)

I am learing Data Science

In [8]:
#variable declared outside the function is global by default
#to change the value of global variable inside a function we can use global keyword

x= "I am in love with data science"

def learn():
  global x
  x= "I am learing Data Science"

learn()
print(x)

I am learing Data Science

String Data Type

In [9]:
#looping through a string

x= 'hello'

for char in x:
  print(char, end="")

hello

In [11]:
#check string
x= "hello"
y= "Hi, I am Devansh."
z= "hello, sumit"

print(x in y)
print(x in z)
print(x not in y)

False
True
True

In [12]:
#negative indexing
x= "Data Science "
print(x[-5:-3])

en

In [17]:
#inbuilt- functions for string data type
x= " data science "

#strip removes space from beginning or end
print(x.upper(), x.lower())
print(x.strip())

#replace a char in string 
print(x.replace('a','A'))

#split the string according to given separator
print(x.split(' '))

 DATA SCIENCE   data science
data science
 dAtA science
['', 'data', 'science', '']

In [19]:
#escape character in a string
x= "\"Knowledge is love and light and vision.\" by Helen Keller"
print(x)

"Knowledge is love and light and vision." by Helen Keller

In [25]:
#string methods
print(x.count('o'))

3