Missing Values and various methods to fill them

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#1.Write a Pandas program to detect missing values of a given DataFrame. Display True or False.

order_data = pd.DataFrame({
'ord_no':[70001,np.nan,70002,70004,np.nan,70005,np.nan,70010,70003,70012,np.nan,70013],
'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
'ord_date': ['2012-10-05','2012-09-10',np.nan,'2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
'customer_id':[3002,3001,3001,3003,3002,3001,3001,3004,3003,3002,3001,3001],
'salesman_id':[5002,5003,5001,np.nan,5002,5001,5001,np.nan,5003,5002,5003,np.nan]})

#print(order_data)
print(order_data.isnull())

    ord_no  purch_amt  ord_date  customer_id  salesman_id
0    False      False     False        False        False
1     True      False     False        False        False
2    False      False      True        False        False
3    False      False     False        False         True
4     True      False     False        False        False
5    False      False     False        False        False
6     True      False     False        False        False
7    False      False     False        False         True
8    False      False     False        False        False
9    False      False     False        False        False
10    True      False     False        False        False
11   False      False     False        False         True

In [ ]:
#2. Write a Pandas program to identify the column(s) of a given DataFrame which have at least one missing value.

missing_column= list()
for column in order_data.columns:
  if True in list(order_data[column].isnull()):
    missing_column.append(column)

print(missing_column)

['ord_no', 'ord_date', 'salesman_id']

In [ ]:
#3. Write a Pandas program to count the number of missing values in each column of a given DataFrame. 
for column in missing_column:
  print(column)
  count_na= 0
  for boolean in order_data[column].isnull():
    if boolean:
      count_na+=1
  print(count_na)

ord_no
4
ord_date
1
salesman_id
3

In [ ]:
#4.  Write a Pandas program to drop the columns where at least one element is missing in a given DataFrame.
from copy import deepcopy
drop_column= deepcopy(order_data)

for column in missing_column:
  del drop_column[column]

print(drop_column)
#print(order_data)

    purch_amt  customer_id
0      150.50         3002
1      270.65         3001
2       65.26         3001
3      110.50         3003
4      948.50         3002
5     2400.60         3001
6     5760.00         3001
7     1983.43         3004
8     2480.40         3003
9      250.45         3002
10      75.29         3001
11    3045.60         3001

In [ ]:
#5. Write a Pandas program to drop the rows where at least one element is missing in a given DataFrame.
drop_row= deepcopy(order_data)

print('Size of dataset before dropping null value rows: '+str(drop_row.shape))
drop_row.dropna(inplace= True)
print('Size of dataset on dropping null value rows: '+str(drop_row.shape))

Size of dataset before dropping null value rows: (12, 5)
Size of dataset on dropping null value rows: (4, 5)

In [ ]:
#6. Write a Pandas program to drop the rows where all elements are missing in a given DataFrame.
orders_data = pd.DataFrame({
'ord_no':[np.nan,np.nan,70002,70004,np.nan,70005,np.nan,70010,70003,70012,np.nan,70013],
'purch_amt':[np.nan,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
'ord_date': [np.nan,'2012-09-10',np.nan,'2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
'customer_id':[np.nan,3001,3001,3003,3002,3001,3001,3004,3003,3002,3001,3001]})

drop_index= list()
#print(orders_data)
for i in range(len(orders_data.index)):
  if orders_data.iloc[i].isnull().sum() == len(orders_data.columns):
    drop_index.append(i)

orders_data.drop(drop_index, inplace=True)
#print(orders_data)
orders_data= orders_data.reset_index()
print(orders_data)
del orders_data['index']
print(orders_data)

    index   ord_no  purch_amt    ord_date  customer_id
0       1      NaN     270.65  2012-09-10       3001.0
1       2  70002.0      65.26         NaN       3001.0
2       3  70004.0     110.50  2012-08-17       3003.0
3       4      NaN     948.50  2012-09-10       3002.0
4       5  70005.0    2400.60  2012-07-27       3001.0
5       6      NaN    5760.00  2012-09-10       3001.0
6       7  70010.0    1983.43  2012-10-10       3004.0
7       8  70003.0    2480.40  2012-10-10       3003.0
8       9  70012.0     250.45  2012-06-27       3002.0
9      10      NaN      75.29  2012-08-17       3001.0
10     11  70013.0    3045.60  2012-04-25       3001.0
     ord_no  purch_amt    ord_date  customer_id
0       NaN     270.65  2012-09-10       3001.0
1   70002.0      65.26         NaN       3001.0
2   70004.0     110.50  2012-08-17       3003.0
3       NaN     948.50  2012-09-10       3002.0
4   70005.0    2400.60  2012-07-27       3001.0
5       NaN    5760.00  2012-09-10       3001.0
6   70010.0    1983.43  2012-10-10       3004.0
7   70003.0    2480.40  2012-10-10       3003.0
8   70012.0     250.45  2012-06-27       3002.0
9       NaN      75.29  2012-08-17       3001.0
10  70013.0    3045.60  2012-04-25       3001.0

In [ ]:
#7. Write a Pandas program to keep the rows with at least 2 NaN values in a given DataFrame
drop_index= list()
#print(orders_data)
for i in range(len(orders_data.index)):
  if orders_data.iloc[i].isnull().sum() > 1:
    drop_index.append(i)

print('No. of rows with atleast 2 NaN value: ' + str(len(drop_index)))
orders_data.drop(drop_index, inplace=True)
#print(orders_data)
orders_data= orders_data.reset_index()
print(orders_data)
del orders_data['index']
print(orders_data)

No. of rows with atleast 2 NaN value: 0
    index   ord_no  purch_amt    ord_date  customer_id
0       0      NaN     270.65  2012-09-10       3001.0
1       1  70002.0      65.26         NaN       3001.0
2       2  70004.0     110.50  2012-08-17       3003.0
3       3      NaN     948.50  2012-09-10       3002.0
4       4  70005.0    2400.60  2012-07-27       3001.0
5       5      NaN    5760.00  2012-09-10       3001.0
6       6  70010.0    1983.43  2012-10-10       3004.0
7       7  70003.0    2480.40  2012-10-10       3003.0
8       8  70012.0     250.45  2012-06-27       3002.0
9       9      NaN      75.29  2012-08-17       3001.0
10     10  70013.0    3045.60  2012-04-25       3001.0
     ord_no  purch_amt    ord_date  customer_id
0       NaN     270.65  2012-09-10       3001.0
1   70002.0      65.26         NaN       3001.0
2   70004.0     110.50  2012-08-17       3003.0
3       NaN     948.50  2012-09-10       3002.0
4   70005.0    2400.60  2012-07-27       3001.0
5       NaN    5760.00  2012-09-10       3001.0
6   70010.0    1983.43  2012-10-10       3004.0
7   70003.0    2480.40  2012-10-10       3003.0
8   70012.0     250.45  2012-06-27       3002.0
9       NaN      75.29  2012-08-17       3001.0
10  70013.0    3045.60  2012-04-25       3001.0

In [62]:
#8. Write a Pandas program to drop those rows from a given DataFrame in which specific columns have missing values.
#if customer_id and order_no are not present in a row then that data is useless
order = pd.DataFrame({
'ord_no':[np.nan,np.nan,70002,np.nan,np.nan,70005,np.nan,70010,70003,70012,np.nan,np.nan],
'purch_amt':[np.nan,270.65,65.26,np.nan,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,np.nan],
'ord_date': [np.nan,'2012-09-10',np.nan,np.nan,'2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17',np.nan],
'customer_id':[np.nan,3001,3001,np.nan,3002,3001,3001,3004,3003,3002,3001,np.nan]})

#drop rows
order_= deepcopy(order)
print('Size of dataset containing missing values for customer_id and order_no ' + str(order.shape))
print()
order_.dropna(subset= ['customer_id','ord_no'], inplace= True)

print('Size of dataset not containing missing values for customer_id and order_no' + str(order_.shape))

Size of dataset containing missing values for customer_id and order_no (12, 4)

Size of dataset not containing missing values for customer_id and order_no(5, 4)

In [63]:
#9. Write a Pandas program to calculate the total number of missing values in a DataFrame.
order.isna().sum()

ord_no         7
purch_amt      3
ord_date       4
customer_id    3
dtype: int64

In [65]:
#10. Write a Pandas program to replace NaNs with a single constant value in specified columns in a DataFrame.
print(order)

order['purch_amt'].fillna(100, inplace=True)

print(order)

     ord_no  purch_amt    ord_date  customer_id
0       NaN        NaN         NaN          NaN
1       NaN     270.65  2012-09-10       3001.0
2   70002.0      65.26         NaN       3001.0
3       NaN        NaN         NaN          NaN
4       NaN     948.50  2012-09-10       3002.0
5   70005.0    2400.60  2012-07-27       3001.0
6       NaN    5760.00  2012-09-10       3001.0
7   70010.0    1983.43  2012-10-10       3004.0
8   70003.0    2480.40  2012-10-10       3003.0
9   70012.0     250.45  2012-06-27       3002.0
10      NaN      75.29  2012-08-17       3001.0
11      NaN        NaN         NaN          NaN
     ord_no  purch_amt    ord_date  customer_id
0       NaN     100.00         NaN          NaN
1       NaN     270.65  2012-09-10       3001.0
2   70002.0      65.26         NaN       3001.0
3       NaN     100.00         NaN          NaN
4       NaN     948.50  2012-09-10       3002.0
5   70005.0    2400.60  2012-07-27       3001.0
6       NaN    5760.00  2012-09-10       3001.0
7   70010.0    1983.43  2012-10-10       3004.0
8   70003.0    2480.40  2012-10-10       3003.0
9   70012.0     250.45  2012-06-27       3002.0
10      NaN      75.29  2012-08-17       3001.0
11      NaN     100.00         NaN          NaN

In [66]:
#11.  Write a Pandas program to replace NaNs with the value from the previous row or the next row in a given DataFrame.
print('Using pad method to fill missing values')
print(order['customer_id'].fillna(method= 'pad'))

print('Using backfill method to fill missing values')
print(order['customer_id'].fillna(method= 'backfill'))

Using pad method to fill missing values
0        NaN
1     3001.0
2     3001.0
3     3001.0
4     3002.0
5     3001.0
6     3001.0
7     3004.0
8     3003.0
9     3002.0
10    3001.0
11    3001.0
Name: customer_id, dtype: float64
Using backfill method to fill missing values
0     3001.0
1     3001.0
2     3001.0
3     3002.0
4     3002.0
5     3001.0
6     3001.0
7     3004.0
8     3003.0
9     3002.0
10    3001.0
11       NaN
Name: customer_id, dtype: float64

In [67]:
#12. Write a Pandas program to replace NaNs with median or mean of the specified columns in a given DataFrame.
customer_df = pd.DataFrame({
'ord_no':[70001,np.nan,70002,70004,np.nan,70005,np.nan,70010,70003,70012,np.nan,70013],
'purch_amt':[150.5,np.nan,65.26,110.5,948.5,np.nan,5760,1983.43,np.nan,250.45, 75.29,3045.6],
'sale_amt':[10.5,20.65,np.nan,11.5,98.5,np.nan,57,19.43,np.nan,25.45, 75.29,35.6],
'ord_date': ['2012-10-05','2012-09-10',np.nan,'2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
'customer_id':[3002,3001,3001,3003,3002,3001,3001,3004,3003,3002,3001,3001],
'salesman_id':[5002,5003,5001,np.nan,5002,5001,5001,np.nan,5003,5002,5003,np.nan]})

print(customer_df['purch_amt'].fillna(customer_df['purch_amt'].mean()))

0      150.500000
1     1376.614444
2       65.260000
3      110.500000
4      948.500000
5     1376.614444
6     5760.000000
7     1983.430000
8     1376.614444
9      250.450000
10      75.290000
11    3045.600000
Name: purch_amt, dtype: float64