Rename and Replace using pandas

In [31]:
import pandas as pd
import numpy as np
import seaborn as sn

In [32]:
#make table interactive
from google.colab import data_table
#to enable
data_table.enable_dataframe_formatter()
#to disable
#data_table.disable_dataframe_formatter()

In [33]:
#get name of datasets in seaborn library
#print(sn.get_dataset_names())

In [34]:
#1. Replace None values with column mean value
titanic= sn.load_dataset('titanic')
#print(titanic.columns)
#get columns with numeric values
titanic= titanic.select_dtypes(include= np.number)
#print(titanic.columns)

In [35]:
#reduce size of dataset to be worked on
titanic= titanic[:20]
#print(titanic)
#count no. of None values in dataset
print('No. of null values in dataframe \n'+str(titanic.isnull().sum()))

#replace None values with average value of that column
for column in titanic.columns:
  titanic[column].fillna(round(titanic[column].mean()), inplace=True)

print('No. of null values in dataframe \n'+str(titanic.isnull().sum()))
#print(titanic)

No. of null values in dataframe
survived    0
pclass      0
age         3
sibsp       0
parch       0
fare        0
dtype: int64
No. of null values in dataframe
survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64

In [36]:
#2. Drop rows with missing values
tips= sn.load_dataset('tips')
print('Size of tips: '+str(tips.shape))
print(tips.isnull().sum())
print('Dropping rows with None values')
tips.dropna(inplace= True)
print('Size of tips: '+str(tips.shape))

Size of tips: (244, 7)
total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64
Dropping rows with None values
Size of tips: (244, 7)

In [37]:
#3. add a prefix to column names
new_column= dict()

for column in tips.columns:
  new_column[column]= column+'_'

print('Name of columns\n' + str(tips.columns))
tips= tips.rename(columns= new_column)
print('Adding prefix to column name')
print('Name of columns\n' + str(tips.columns))

Name of columns
Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')
Adding prefix to column name
Name of columns
Index(['total_bill_', 'tip_', 'sex_', 'smoker_', 'day_', 'time_', 'size_'], dtype='object')